@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Footer -->
		<div class="container-fluid footer">
			<div class="container">

			If you have any questions, feel free to contact me at: jakob.dennryd@outlook.com

			</div>